{% import "macros.html" as macros %}
{% extends "base.html" %}


{% block content %}


<h1 class="drop-down-heading">Entries per page</h1>

<form method = "POST" name="drop-down" id = "drop-down">
    <select id = "drop-down" name ="drop-down" onchange="this.form.submit()" required>
        <option value = "{{PAGINATE_BY}}" name="option1">{{PAGINATE_BY}}</option>
        <option value = "{{PAGINATE_B}}" name = "option2">{{PAGINATE_B}}</option>
        <option value = "{{PAGINATE_C}}" name = "option3">{{PAGINATE_C}}</option>
    </select>
       <noscript><input type ="submit" value ="Submit"></noscript>
</form>

{%for entry in entries %}
{{macros.render_entry(entry)}}
{% endfor %}

<ul class = "pager">
    {% if has_next %}
    <li class = "previous">
    <a href = "{{url_for('entries', page = page +1)}}" > &larr; Older </a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class = "next">
    <a href = "{{url_for('entries',page = page -1)}}" > &rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% endblock %}


